# Template para entorno Loop
NODE_ENV=
EXPO_PUBLIC_API_URL=
BASE_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
PGHOST=

API_PORT=3000
SALT_ROUNDS=10
JWT_SECRET=
ADMIN_PASS_TOKEN=

# Google OAuth
ADMIN_GOOGLE_CLIENT_ID=
ADMIN_GOOGLE_CLIENT_SECRET=
WEB_GOOGLE_CLIENT_ID=
WEB_GOOGLE_CLIENT_SECRET=
IOS_GOOGLE_CLIENT_ID=
ANDROID_GOOGLE_CLIENT_ID=