SALT_ROUNDS=10
JWT_SECRET="jwt_secret"

BASE_URL="http://localhost:3000"

# Google OAuth
# Admin Web:
ADMIN_GOOGLE_CLIENT_ID=
# iOS App:
IOS_GOOGLE_CLIENT_ID=
# Android App:
ANDROID_GOOGLE_CLIENT_ID=
# App:
WEB_GOOGLE_CLIENT_ID=

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_PORT=5432

# API
API_PORT=3000
